body {
  margin: 0;
}

/* NavBar Header Section */

.header {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.header-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin: 0 20px;
  width: 14rem;
}

.profile-photo {
  width: 35px;
  height: auto;
  border-radius: 50%;
}

.profile-photo:hover,
.profile-photo:focus {
  box-shadow: 0 0 0 3px lightgrey;
}

.apps-menu {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apps-menu-icon {
  width: 25px;
  height: auto;
}

.apps-menu:hover {
  background-color: rgb(211, 211, lightgrey);
  cursor: pointer;
}

.header-nav a:link,
.header-nav a:visited {
  text-decoration: none;
  color: black;
  font-size: 95%;
}

.header-nav a:hover,
.header-nav a:active {
  text-decoration: underline;
}

/* Main Section */
